<%- include('partials/header') %>   
<link rel="stylesheet" href="/style_home.css">
<body>
    
    <main>
        <section>
            <h2>About This Project</h2>
            <p>This project is a simple and efficient to-do list application designed to help you manage your tasks and stay organized. You can add, edit, and delete tasks as needed, and mark them as complete when you're done.</p>
        </section>
        <section>
            <h2>Get Started</h2>
            <p>To start using the to-do list, please log in or sign up for an account.</p>
            <h3><a href="/login" class="btn">Log in</a></h3>
            <h3><a href="/signup" class="btn">Signup</a></h3>

        </section>
    </main>
    <footer>
        <p>&copy; 2023 To-Do List Project. All rights reserved.</p>
    </footer>
</body>
</html>