<%- include('partials/header') %>  
<link rel="stylesheet" href="/style.css"> 


<form>
    <div>Login</div>
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        <h2 class="error username"></h2>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <h2 class="error password"></h2>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
    <div class="prompt">
        <a href="/signup"><h2>Sign up</h2></a>
    </div>
</form>

<script>
    const form = document.querySelector('form');
    form.addEventListener('submit', async (e)=>{
        e.preventDefault();
        const username = form.username.value;
        const password = form.password.value;
        const email_error = document.querySelector('.error.username');
        const password_error = document.querySelector('.error.password');

        password_error.textContent = "";
        email_error.textContent = "";

        try{
            const res = await fetch('/login',{
            method:'POST',
            body: JSON.stringify({username,password}),
            headers:{'Content-Type':'application/json'}
        })
            const data = await res.json();
            if(data.user){
                location.assign('/main')
            }else{
                if(data.error){
                    password_error.textContent = "Invalid username or password";
                }
            }
        }catch{
            console.log("error")
        }
    })
</script>


</body>
</html>


