<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="/main_style.css">
</head>
<body>
    <div class="container">
        <h1>To-Do List</h1>
        <h2 id="main_title"><%- title %></h2>
        <form class="subtype">
            <input type="text" name="task" placeholder="Enter a new task for subtype" required>
            <button type="submit">Add</button>
        </form>
    </div>

    <div class="container">
        <form class="maintype">
            <input type="text" name="task" placeholder="Enter a new main type" required>
            <button type="submit">Add</button>
        </form>
    </div>

    <div class="container-scroll">
        <h2>Main Types</h2>
        <div class="scroll-list">
            <ul id="main-types-list">
                <!-- Main types will be dynamically inserted here -->
                 <% main_types.forEach((key)=>{ %>
                    <li><a href="/main/<%= key %>"><%= key %></a></li>
                <% }) %>
            </ul>
        </div>
    </div>

    <div class="container-scroll">
        <h2>Sub Types</h2>
        <div class="scroll-list">
            <ul id="sub-types-list">
                <!-- Main types will be dynamically inserted here -->
                 <% sub_types.forEach((key)=>{ %>
                    <li><%= key %></li>
                <% }) %>
            </ul>
        </div>
    </div>

    <script>
        const sub_form = document.querySelector('form.subtype');
        const main_form = document.querySelector('form.maintype');
        const tittle = document.getElementById('main_title');

        const sub_input = sub_form.querySelector('form.subtype [name="task"]');
        const main_input = main_form.querySelector('form.maintype [name="task"]');

        sub_form.addEventListener('submit', async (e)=>{
            e.preventDefault();
            const task = sub_input.value
    
            try{
                const res = await fetch('/main',{
                method:'POST',
                body: JSON.stringify({type:"sub", input:task, title: tittle.textContent}),
                headers:{'Content-Type':'application/json'}
            })
                
            }catch(err){
                console.log(err)
            }
        })

        main_form.addEventListener('submit', async (e)=>{
            e.preventDefault();
            const type = main_input.value
    
            try{
                const res = await fetch('/main',{
                method:'POST',
                body: JSON.stringify({type:"main", input:type}),
                headers:{'Content-Type':'application/json'}
            }

        
        )
            const data = await res.json();

            if(data.err){
                alert("try again!")
            }
            else if(data.result){
                const main_types_list = document.getElementById('main-types-list');
                main_types_list.innerHTML = '';
                console.log(data.result)
                console.log(data.result[data.result.length-1])
                data.result.forEach((key)=>{
                    const li = document.createElement('li');
                    li.innerHTML = `<a href="/main/${key}">${key}</a>`;
                    main_types_list.appendChild(li);
                })
                main_input.value = '';
            }
            
                
            }catch(err){
                console.log(err)
            }
        })
    </script>
</body>
</html></form>