<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<form>
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        <h2 class="error username"></h2>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <h2 class="error password"></h2>
    </div>
    <div>
        <button type="submit">Sign Up</button>
    </div>
</form>

<script>
    const form = document.querySelector('form');
    form.addEventListener('submit', async (e)=>{
        e.preventDefault();
        const username = form.username.value;
        const password = form.password.value;
        try{
            const res = await fetch('/signup',{
            method:'POST',
            body: JSON.stringify({username,password}),
            headers:{'Content-Type':'application/json'}
        })
            const data = await res.json();
            console.log(data.errors)
            const email_error = document.querySelector('.error.username');
            const password_error = document.querySelector('.error.password');

            password_error.textContent = data.errors.password;
            email_error.textContent = data.errors.username;
        }catch{
            console.log("error")
        }
    })
</script>


</body>
</html>


